* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;  
}

ul {
  list-style: none;
}

span {
  font-family: sans-serif;
  color: #545454;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* NAV */

nav {
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid #dbdbdb;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.title-container a {
  font-size: 30px;
  color: #545454;
  text-decoration: none;
  font-family: sans-serif;
}

nav ul {
  display: flex;
}

nav ul li {
  position: relative;
  padding: 0 10px;
  cursor: pointer;
}

.nav-icon {
  pointer-events: none;
  width: 25px;
  fill: #545454;
}

/* MAIN */

main {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.product-container {
  height: 100%;
}

.product {
  position: relative;
}

.image img {
  width: 100%;
}

/* sök bar */

.search-box {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000080;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 50%;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.button{
  display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    margin: 0;
    cursor: pointer;
    font-family: Nunito,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    height: auto;
    line-height: 30px;
    padding: 9px 30px;
    border-radius: 0;
    background-color: #212121;
}
h1{
  color: #545454;
  font-family: sans-serif;
}
.cart{
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin:  0 auto;
  padding: 70px;
}
.name{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.price{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}